
.DS_Store
*.xcuserstate
*.xcuserstate
The MUT.xcworkspace/xcuserdata/mlev.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
The MUT.xcworkspace/xcuserdata/mlev.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
The MUT.xcworkspace/xcuserdata/mlev.xcuserdatad/IDEFindNavigatorScopes.plist
